<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>Text message:</strong>
  <%= @message.text_message %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
